.Card {
  width: 100%;
  background-color: var(--darker);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 1em;
}
@media screen and (min-width: 992px) {
  .Card {
    padding: 20px 15px;
  }
}

.CardHeader {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.IconWrapper {
  width: 35px;
}
@media screen and (min-width: 992px) {
  .IconWrapper {
    width: 45px;
  }
}

.Title {
  font-weight: 700;
}

.Arrow {
  margin-left: auto;
  opacity: 0.5;
}
