@media screen and (min-width: 992px) {
  .HomeMain {
    padding: 50px;
  }
}

.PhotoWrapper {
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 0 15px 5px 0;
}
@media screen and (min-width: 768px) {
  .PhotoWrapper {
    width: 100px;
    height: 100px;
  }
}
@media screen and (min-width: 992px) {
  .PhotoWrapper {
    width: 150px;
    height: 150px;
    margin: 0 25px 15px 0;
  }
}

.HomeRow {
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .HomeRow {
    justify-content: space-between;
    align-items: center;
  }
}

.AboutWrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .AboutWrapper {
    width: calc(50% - 10px);
  }
}

.CardSection {
  width: 100%;
  margin-top: 1em;
}
@media screen and (min-width: 768px) {
  .CardSection {
    width: calc(50% - 20px);
    margin-top: 0;
  }
}

.CardWrapper {
  width: 100%;
  cursor: pointer;
}
