.Container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .Container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .Container {
    width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .Container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .Container {
    width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .Container {
    width: 1320px;
  }
}
